body {
    font-family: 'Montserrat-Black, sans-serif';
}

h1 {  
    color: white;
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}

h2 {
    font-weight: bold !important;
    padding-top: 1rem;
}

h3 {
    font-weight: bold !important;
}

.row {
    --bs-gutter-x: 0rem !important;
}

p {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

#title {
    background-color: #ff4c68;
}

/* Navigation Bar*/
.navbar {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    padding: 3em 0em;
}

.nav-link {
    margin-right: 10px;
}

#logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}

.container-fluid {
    padding: 2% 8% !important;
}

.container {
    padding: 5% 0% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.backspace {
    margin-left: 5px;
}

/* greeting */
#greeting {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    color: white;
    max-width: 100% !important;
}

#greeting div:first-child {
    margin-bottom: 50px;
}

#greeting div:last-child {
    margin-bottom: 150px;
}

#phone{
    width: 30%;
    max-width: 400px;
    position: absolute;
    z-index: 2;
}

/* feature */
#features {
    margin: 15% 0% !important;
    background-color: white;
    position: relative;
}

.feature-icon {
    color: #ff4c68;
    margin-bottom: 1.2rem;
}

.feature-icon:hover {
    color: #fa1414;
}

.feature-box p {
    color: #8f8f8f;
}

/* testimonials */
#brand {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

#testimonials {
    padding: 5% 5% !important;
    background-color: #ff4c68;
    color: white;
}

.testimonial-text{
    padding: 0px 150px;
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 15px;
}

.carousel-item em {
    font-size: 1.15rem;
}

/* press */
#press {
    padding: 0% 5% 5% !important;
    background-color: #ff4c68;
}

.press-logo {
    width: 15%;
    margin: 25px 40px 0px ;
}

/* pricing */
#pricing {
    margin: 10% 0% !important;
}

.card {
    margin: 30px 20px;
}

.card-header {
    font-size: 1.2rem;
    font-weight: bold;
}

#price-tag {
    margin-top: 15px;
}

/* Call to Action */
#cta {
    background-color: #ff4c68;
}

#cta h1 {
    margin: 50px 0px;
}

#cta div {
    margin-bottom: 50px;
}

/* Footer */
#footer {
    background-color: white;
    margin: 30px 0px;
}

/* Tablet and Mobile */
@media screen and (max-width: 992px) {
    .container-fluid {
        padding: 2% 4% !important;
    }

    #greeting div:first-child {
        text-align: center;
    }
    
    #greeting div:last-child {
        justify-content: center;
        margin-bottom: 0px;
    }

    #phone{
        width: 300px;
        position: static;
        z-index: 1;
    }
    
    /* feature */
    #features {
        position: static;
    }
}