body {
    font-family: 'Montserrat-Black, sans-serif';
}

h1 {  
    font-family: 'Montserrat-Black, sans-serif';  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}

#title {
    background-color: #ff4c68;
}

/* Navigation Bar*/
.navbar {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    padding: 3em 0em;
}

.container-lg {
    margin-left: 0px !important;
    padding: 0px !important;
}

.nav-link {
    margin-right: 10px;
}

#logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}

.container-fluid {
    padding: 5% !important;
}

.container {
    padding: 5% 0% !important;
}

.backspace {
    margin-left: 5px;
}

#greeting {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
    color: white;
}